.container{
    background-color: rgb(238, 210, 210);
    border: solid 1px;
    padding: 10px;
    border-color: rgb(109, 109, 14);
}
body{
    background-color: rgb(223, 248, 246);
    padding: 20px;
}